h1{
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;    /* Firefox 4 */
	-webkit-transition: color 0.2s linear;    /* Safari 和 Chrome */
	-o-transition: color 0.2s linear;    /* Opera */
}
span{
 	width: 0;
 	display: block;
  	/*边框粗细颜色*/
 	border-bottom: 4px #1C86EE solid;
 	transition:width 0.5s;
 	margin: 0 auto;

}
.text{
  /*过度完成后的文本颜色*/
  color:#1C86EE;
}
.text-center{
	text-align:center;
}
.underline{
	/*下划线长度*/
		width:140px;
}
.btn{
	margin-top: 60px;
	outline-style:none;
	background-color:white;
  	border-style:solid;
  	border-width:2px;
  	border-radius:10px;
  	font-size:26px;
}